.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.needed{
    color: white;
    background-color: #242424;
}
.rounded{
    border-radius: 7px;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif; */
/* Track */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1db954; /* Change the color to match Spotify's green */
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #128c7e; /* Change the color to a darker shade on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change the color to a light gray */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Change the color to a dark gray */
  }
  